<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/images/apple-icon-57x57-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/images/apple-icon-72x72-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/images/apple-icon-114x114-precomposed.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/images/apple-icon-144x144-precomposed.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" />
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-ND9K6T8');</script>
<!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND9K6T8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar is-transparent">
        <div class="container">
            <div class="nav-left nav-brand">
                <a href="{{ "/" | prepend: site.baseurl }}" >
                    <img src="/assets/images/shef-logo.png" alt="Shef">
                </a>
            </div>
            <div class="nav-right">
                {% if site.social.github %}
                <a href="https://github.com/{{ site.social.github }}" class="nav-item">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
                {% endif %}
                {% if site.social.email %}
                <a href="mailto:{{ site.social.email }}" class="nav-item">
                    <span class="icon">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                </a>
                {% endif %}
                {% if site.social.facebook %}
                <a href="https://facebook.com/{{ site.social.facebook }}" class="nav-item">
                    <span class="icon">
                        <i class="fa fa-facebook"></i>
                    </span>
                </a>
                {% endif %}
                {% if site.social.twitter %}
                <a href="https://twitter.com/{{ site.social.twitter }}" class="nav-item">
                    <span class="icon">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
                {% endif %}
                {% if site.social.instagram %}
                <a href="https://instagram.com/{{ site.social.instagram }}" class="nav-item">
                    <span class="icon">
                        <i class="fa fa-instagram"></i>
                    </span>
                </a>
                {% endif %}
                {% if site.social.tumblr %}
                <a href="https://{{ site.social.tumblr }}.tumblr.com" class="nav-item">
                    <span class="icon">
                        <i class="fa fa-tumblr"></i>
                    </span>
                </a>
                {% endif %}
            </div>
<!--             <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
          </span> -->
      </div>
  </nav>
  {{ content }}
  <footer class="footer">
    <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
          <p class=" ">
             Shef, LLC &copy;2018
          </p>
          <a href="http://switchyards.com/">
              <img src="assets/images/mwsa.svg" alt="MadeWithSoulInAtlanta">
          </a>
      </div>
</div>
</div>
</footer>

<script src="{{ site.baseurl }}{{ "/assets/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
<script>
    $('.nav-toggle').bind('click', function(){
        var menus = $(this).siblings(".nav-menu");
        if(menus.hasClass('is-active')){
            menus.removeClass('is-active');
        } else {
            menus.addClass('is-active');
        }
    });
</script>

</body>
</html>
